.owner-logo {
    height: 150px;
}

.get-started-link {
    transition: background .2s;
    transition: color .2s;
}

.get-started-link:hover {
    background: #3977fd;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    
}

.repo-description-container {
    margin: 2rem 0 0 1.3rem;
}

.repo-description-container > p {
    padding-top: .1rem;
}

.counter-container {
    margin-top: 1rem;
}

.counter-container div div p {
    margin-left: .3rem!important;
}

.repo-owner {
    align-self: flex-end;
    display: inline-block;
    right: 0;
    bottom: 0;
}

.tag {
    height: 1.2rem;

    padding: 0 1rem;

    border: 1px solid #588dff;
    border-radius: 50px;
    background: #588dff;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: .8rem !important;
}

.tag-text{
    color: #FFF;
    
    font-weight: 400;
    font-size: 14px;

    margin-bottom: 2px!important;
}