.data-container {
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}

.fetch-button {
    width: 8rem;
    background: #588dff;

    border-radius: 4px;

    color: #FFF;

    align-self:center;
    transition: background .2s;
}

.fetch-button:hover {
    background-color: #3977fd;
}